a{
    text-decoration: none;
    color: inherit;
}
.field{
    margin-top: 30px;
    background-color: #f7f7f7;
    & .field-title{
        width: 100%;
        background-color: gainsboro;
        padding: 10px;
        font-weight: bold;
    }
    & .field-content{
        padding: 10px;
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        &.align-start{
            justify-content: flex-start;
        }
    }
}
.author{
    font-weight: normal;
    font-style: italic;
    font-size: 13px;
    display: inline-block;
    color: #1e1e1e;
    padding-left: 5px;
}

.user-info{
    display: flex;
    justify-content: center;
    flex-flow: column;
    flex-basis: 100%;
    & .user-image{
        display: flex;
        justify-content: center;
        & img{
            border-radius: 100%;
            width: 70%;
        }
    }
    & .user-name{
        margin-top: 20px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: #191919;
    }
    & .stat{
        text-align: center;
    }
}

.seperator{
    margin: 10px 0 10px 0;
    width: 100%;
    height: 1px;
    background-color: lightgray;
}

.path{
    display: flex;
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    align-items: center;
    flex-flow: row wrap;
    & .upvote{
        margin-left: auto;
        margin-right: 10px;
    }
}

img{
    &.card-img-top{
        width: 100%;
    }
    &.story-img{
        margin: 0px auto 10px auto;
        width: 90%;
        @media (min-width: 786px){
            width: 450px;
        }
        
    }
}
